/* ======================================
     This is a PreWritten Code 
=========================================*/


@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Baloo+Tammudu+2&family=Poppins:wght@800&family=Roboto:wght@100&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --black: #282120;
    --dark-black: #010B13;
    --red: #D9083A;
    --yellow: #fad02c;
    --orange: orange;
    --para: #777;
    --blue: #8490ff;
    --rich-blue: #3e64ff;
    --light-blue: #ADD8E6;
    --rich-blue: #001440;
    --white: #fff;
    --transparent: #e4e4e4;
    --shadow: 0rem 0rem 0.5rem 0rem rgb(0, 0, 0);
    --low-shadow: 0rem 0rem 0.3rem;
    --header: #EFF6EE;
    --footer: #EFF6EE;
    --section: #FFFBFC;

}

html {
    font-size: 40%;
    scroll-behavior: smooth;

}

p {
    font-size: 2.2rem;
    color: var(--para);
    line-height: 1.6;
}


li {
    list-style: none;
    font-size: 2.3rem;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: var(--dark-black);
}


h1 {
    font-size: 8rem;
    font-weight: 600;
}

h2 {
    font-size: 4rem;
    font-weight: 800;
}


h3 {
    font-size: 3.8rem;
    font-weight: 800;
}

.h2 {
    color: var(--black);
    font-size: 6rem;
    font-weight: 800;
}



.grid {
    display: grid;
    gap: 15rem;
}

.projects-grid {
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}


.services-grid {
    position: relative;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.resume-para {
    font-size: 3rem;
    color: var(--dark-black);
    font-weight: 800;
    margin: 3rem 0rem 5rem 0rem;
}


.btn {
    display: inline-block;
    background-color: var(--blue);
    padding: 1.5rem 3.2rem;
    border: none;
    color: var(--dark-black);
    font-size: 3rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    width: 2.5rem;
}

::-webkit-scrollbar-track {
    background-color: var(--blue);

}

::-webkit-scrollbar-thumb {
    background-clip: content-box;
    border: .4rem solid;
    border-radius: 2rem;
    background: var(--white);
}

a:hover {
    color: var(--blue);
}

.sections {
    padding: 25rem 0;
}

.section {
    margin: 15rem 0rem;
    padding: 20rem 0;
}

.footer-section {
    background-color: var(--footer);
    position: relative;
    top: 18rem;
}



.footer-grid {
    display: flex;
    gap: 25rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.bio-grid {
    display: grid;

}

.bio-para {
    font-size: 3rem;
    color: var(--dark-black);
    font-weight: 800;
    margin: 3rem 0rem 5rem 0rem;
}



.Numbers-grid {
    position: relative;
    bottom: 3rem;
    display: grid;
    gap: 6rem;
}



.resume-grid {
    position: relative;
}

.grid-two-column {
    grid-template-columns: repeat(2, 1fr);
}

.grid-three-column {
    grid-template-columns: repeat(3, 1fr);
}

.grid-four-column {
    grid-template-columns: repeat(4, 1fr);
}


.btn:hover {
    box-shadow: var(--shadow);
}

.navbar-links::after {
    content: " ";
    background-color: var(--yellow);
    width: 0%;
    height: 0.7rem;
    display: block;
    margin: 1rem 0rem;
    transition: all 0.3s ease;
}

.navbar-links:hover::after {
    width: 100%;
}


.hero-top-data::first-letter {
    color: var(--red);
}


.all_h2 {
    color: var(--black);
    font-size: 8rem;
    font-weight: 800;
}

.head-p {
    font-size: 3rem;
    font-weight: 800;
    word-spacing: 0.6rem;
    color: var(--blue);
}

/* ======================================
     This is a unique border Code 
=========================================*/

.custom-shape-divider-bottom-1663870133 {
    position: absolute;
    top: 85rem;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1663870133 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 35rem;
}

.custom-shape-divider-bottom-1663870133 .shape-fill {
    fill: #ffd000;
}



/* ======================================
This is a mobile-navbar part 
=========================================*/

@media (max-width:1152px) {

    .header {
        position: relative;
    }

    .mobile-nav {
        position: relative;
        right: 1.8rem;
        display: block;
        border: 2px solid black;
        color: var(--dark-black);
        z-index: 999;
    }

    .mobile-icon {
        font-size: 4.5rem;

    }

    .navbar {
        width: 100%;
        height: 120vh;
        position: absolute;
        left: 0%;
        top: 0%;
        background-color: var(--blue);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s linear;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        z-index: 999;

    }

    .active .navbar {
        transform: translateX(0%);
        visibility: visible;
        opacity: 1;
        pointer-events: auto;

    }

    .active .mobile-nav .mobile-icon[name="menu-outline"] {
        display: none;
    }

    .active .mobile-nav .mobile-icon[name="close-outline"] {
        display: block;
    }

    .navbar-list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 1rem;
        top: -20rem;
    }

    .navbar-list li {
        padding: 1rem 8rem;
        font-size: 3.5rem;
    }

    .navbar-list li a {
        color: var(--white);
    }


}


/* ======================================
This is a media-query part-1
=========================================*/

@media (max-width: 1010px) {

    .grid {
        display: flex;
        gap: 15rem;
        padding: 0rem 0rem 25rem 0rem;
    }

    .custom-shape-divider-bottom-1663870133 svg {
        margin: 0rem 0px 20px 0px;
    }


    .section-bio-data {
        max-width: 55rem;
        left: 45rem;
    }

    .section-resume-data {
        max-width: 65rem;
        left: 43rem;
    }

    .resume-data {
        padding: 0rem 0rem;
        max-width: 65rem;
    }


    .hero-img {
        position: relative;
        top: 18rem;


    }

    .projects-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0rem -20rem;
    }

    .project-img {
        max-width: 100rem;
        height: 50rem;
    }

    .services-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }


    .service-1 {
        max-width: 50rem;
        border-radius: 2rem;
        padding: 1rem 6.5rem;
        border: 1px solid;
    }

    .container-happy {
        margin: 0rem 10rem;
    }


}


/* ======================================
This is a media-query part-2 
=========================================*/


@media (max-width: 960px) {
    html {
        font-size: 30%;
    }

    .h-logo {
        font-size: 10rem;
    }

    .mobile-icon {
        font-size: 10rem;
    }

    .h2 {
        font-size: 10rem;
    }

    .custom-shape-divider-bottom-1663870133 svg {
        margin: 0rem 0px 80px 0px;
    }

    h1 {
        font-size: 10rem;
    }

    h2 {
        font-size: 8rem;
    }

    .hero-bottom-data span {
        font-size: 10rem;
    }

    p {
        font-size: 3.5rem;
    }

    .btn {
        padding: 4rem 5rem;
        font-size: 5.5rem;
        position: relative;
        top: 8rem;
    }

    .contact-icon {
        font-size: 7rem;
    }

    .all_h2 {
        font-size: 10rem;
    }

    .head-p {
        font-size: 4rem;
    }

    .bio-para {
        word-spacing: 1rem;
        font-size: 4rem;
    }

    .re-info {
        font-size: 4rem;
    }

    .resume-para {
        font-size: 5rem;
    }

    .pro-1 h3 {
        font-size: 6rem;
    }

    .icon~h3 {
        font-size: 5rem;
    }

    .footer-mini-section p {
        font-size: 4rem;
    }

    .footer-icons {
        font-size: 4rem;
    }

    .footer-icons ion-icon {
        font-size: 6rem;
    }


}

/* ======================================
This is a media-query part-3
=========================================*/


@media (max-width: 722px) {
    html {
        font-size: 20%;
    }

    p {
        font-size: 4.5rem;
    }

    .navbar-list li {
        font-size: 10rem;
    }

    .btn {
        padding: 4rem 5rem;
        font-size: 5.5rem;
        position: relative;
        top: 8rem;
    }

    .all_h2 {
        font-size: 13rem;
    }

    .head-p {
        font-size: 5.5rem;
    }

    .bio-para {
        word-spacing: 1rem;
        font-size: 6.5rem;
    }

    h3 {
        font-size: 5rem;
        font-weight: 800;
    }



    .resume-para {
        font-size: 6.5rem;
    }

    .re-info {
        font-size: 5.5rem;
    }

    .left-info {
        left: 0rem;
    }

    .right-info {
        left: 25rem;
    }

    .resume-icons {
        font-size: 5rem;
    }


    .pro-1 h3 {
        font-size: 8rem;
    }

    .icon~h3 {
        font-size: 6.5rem;
    }

    .footer-mini-section p {
        font-size: 5rem;
    }

    .footer-icons {
        font-size: 6rem;
    }

    .first-icons {
        position: relative;
        right: 8rem;
        top: 7rem;
        font-size: 7rem;
    }

    .footer-icons ion-icon {
        position: relative;
        left: -10rem;
        top: 12rem;
        font-size: 8rem;

    }

    .footer-bottom-icons {
        font-size: 15rem;
    }

    .footer-bottom-icons+h2 {
        font-size: 8rem;
    }

}

/* ======================================
This is a media-query part-4
=========================================*/


@media (max-width: 480px) {
    html {
        font-size: 12%;
    }

    .navbar-list li {
        font-size: 12rem;
    }

    .h-logo {
        font-size: 15rem;
    }

    .mobile-icon {
        font-size: 15rem;
    }

    .h2 {
        font-size: 15rem;
    }

    .custom-shape-divider-bottom-1663870133 svg {
        margin: 78rem 0rem;
    }

    h1 {
        font-size: 15rem;
    }

    h2 {
        font-size: 12rem;
    }

    .hero-img {
        max-width: 110rem;
    }

    .hero-bottom-data span {
        font-size: 15rem;
    }

    .hero-para {
        font-size: 8rem;
        max-width: 110rem;
    }

    p {
        font-size: 5rem;
    }

    .btn {
        padding: 6rem 8rem;
        font-size: 6.5rem;
    }

    .contact-icon {
        font-size: 7rem;
    }

    .all_h2 {
        font-size: 15rem;
    }

    .head-p {
        font-size: 8rem;
    }

    .about-img {
        max-width: 110rem;
    }

    .contact-icon {
        font-size: 10rem;
    }

    .bio-img {
        max-width: 100rem;
    }

    .bio-para {
        word-spacing: 1rem;
        font-size: 8rem;
    }

    h3 {
        font-size: 7rem;
        font-weight: 800;
    }


    .bio-img {
        max-width: 110rem;
    }

    .resume-para {
        font-size: 9rem;
    }

    .resume-data {
        border: none;
        box-shadow: none;
    }

    .re-info {
        font-size: 7rem;
    }


    .right-info {
        left: 30rem;
    }

    .resume-icon {
        font-size: 15rem;
    }


    .pro-1 h3 {
        font-size: 10rem;
    }

    .project-img {
        height: 80rem;
    }

    .service-1 {
        max-width: 90rem;
    }

    .icon {
        left: 16rem;
        width: 25rem;
        height: 25rem;
    }

    .icon~h3 {
        font-size: 8rem;
    }

    .container-happy img {
        margin-bottom: 20rem;
    }

    .footer-mini-section p {
        font-size: 8rem;
    }

    .footer-icons {
        font-size: 8rem;
    }

    .footer-icons ion-icon {
        font-size: 12rem;
    }



    .first-icons {
        position: relative;
        right: 12rem;
        top: 12rem;
        font-size: 12rem;
    }

    .footer-icons ion-icon {
        position: relative;
        left: -15rem;
        top: 8rem;
        font-size: 12rem;

    }

    .footer-bottom-icons {
        font-size: 20rem;
    }

    .footer-bottom-icons+h2 {
        font-size: 10rem;
    }

    .scroll-icon {
        font-size: 15rem;
        color: var(--dark-black);
    }

}