/* ======================================
    This is a Header part 
=========================================*/
.header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    position: fixed;
    box-shadow: 0rem 0rem 1rem;
    background-color: var(--header);
}

.mobile-nav {
    display: none;
    background-color: transparent;
    cursor: pointer;
    border: none;
}


.close {
    display: none;
}



header.sticky {
    transition: all 0.3s ease-in;
    background-color: var(--blue);
    height: 11rem;
}

.sticky li a {
    color: var(--white);
}

.h-logo.sticky {
    color: var(--white);
}

.h-logo span {
    color: var(--yellow);
}

.h-logo {
    position: relative;
    font-size: 6rem;
    left: 3rem;
    cursor: pointer;

}

.navbar-list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    top: 1.5rem;
    right: 8rem;

}

/* ======================================
    This is a Hero  section
=========================================*/

.container {
    max-width: 150rem;
    margin: auto auto;

}

.section-hero-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-top-data {
    position: relative;
}

.hero-bottom-data {
    position: relative;
    display: inline-block;
}

.hero-bottom-data span {
    color: var(--yellow);
    font-size: 6rem;
}

.hero-para {
    position: relative;
    margin-top: 3rem;
    margin-bottom: 7rem;
    max-width: 60rem;
}

.hero-img {
    max-width: 80rem;
    cursor: pointer;

}

.hire-me {
    position: relative;
}

.contact-icon {
    font-size: 4rem;
    position: relative;
    top: 1rem;
}


/* ======================================
    This is a About  section
=========================================*/


.About {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 10rem;
}

.about-img {
    max-width: 80rem;
    cursor: pointer;
}


.About h2 {
    font-size: ;
}

.section-About-data {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-para {
    position: relative;
    margin-top: 3rem;
    margin-bottom: 7rem;
    max-width: 60rem;
}

.numbers h2,
p {
    display: grid;
    justify-content: center;
    align-items: center;
}



/* ======================================
This is a bio-data section
=========================================*/

.section-bio-data {
    position: relative;
    display: flex;
    flex-direction: column;
}

.stats {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 2rem;
}

.bio-img {
    max-width: 80rem;
    cursor: pointer;
}


.progress-bar {
    position: relative;
    height: 1.5rem;
    background: var(--transparent);

}

.progress-bar::before {
    content: "";
    position: absolute;
    width: 80%;
    height: inherit;
    background-color: var(--blue);
}

.progress-2::before {
    width: 95%;

}

.progress-3::before {
    width: 80%;

}

.progress-4::before {
    width: 50%;

}

.progress-5::before {
    width: 30%;

}

.percent-80 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 4rem;
    left: 40rem;
    font-size: 2.5rem;
    text-align: center;
    border-radius: 10%;
    width: 0;
    background-color: var(--blue);
    color: var(--white);
}

.percent-90 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 48rem;
    padding: 2rem 4rem;
    font-size: 2.5rem;
    text-align: center;
    border-radius: 10%;
    width: 0;
    background-color: var(--blue);
    color: var(--white);
}


.percent-50 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 24rem;
    padding: 2rem 4rem;
    font-size: 2.5rem;
    text-align: center;
    border-radius: 10%;
    width: 0;
    background-color: var(--blue);
    color: var(--white);
}

.percent-30 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 13rem;
    padding: 2rem 4rem;
    font-size: 2.5rem;
    text-align: center;
    border-radius: 10%;
    width: 0;
    background-color: var(--blue);
    color: var(--white);
}


/* ======================================
This is a resume-data section
=========================================*/

.section-resume-data {
    position: relative;
    display: grid;
    gap: 5rem;

}

.resume-data {
    position: relative;
    padding: 0rem 2rem;
    bottom: 6rem;
    box-shadow: var(--low-shadow);
}

.re-info {
    margin: 5rem 0rem;
    font-size: 2.6rem;
    font-weight: 800;
}

.left-info {
    position: absolute;
    bottom: 5rem;
    left: 4rem;
}

.right-info {
    position: absolute;
    position: relative;
    bottom: 5rem;
    left: 17rem;
}

.resume-icons {
    position: relative;
    font-size: 3.6rem;
    color: var(--blue);
    top: 3.5rem;
    right: 5rem;
}


/* ======================================
This is a projects-data section
=========================================*/
.projects {
    margin: 0rem 39rem;
}

.pro-1 {
    transition: all 0.3s linear;
}

.pro-1:hover {
    transform: scale(1.1);
}

.pro-1 h3 {
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}


.project-img {
    transition: all 0.3s ease-in-out;
    max-width: 40rem;
    height: 35rem;
    border-radius: 3rem;
}


/* ======================================
This is a services section
=========================================*/

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 5rem;
    width: 15rem;
    height: 10rem;
    margin: 8rem 11rem;
    animation: water-wave 3s linear infinite;
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    background-color: var(--header);
    border: 0.5rem solid;

}


@keyframes water-wave {
    0% {
        border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    }

    50% {
        border-radius: 3% 97% 13% 85% / 72% 0% 100% 28%;
    }

    100% {
        border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    }
}

.service-1 {
    box-shadow: var(--low-shadow);
    transition: all 0.3s linear;
    border-radius: 2rem;
    padding: 3rem 0rem;
}

.service-1:hover {
    transform: translateY(-10%);
}



.icon~h3 {
    position: relative;
    bottom: 5rem;
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
}

.icon~p {
    position: relative;
    bottom: 2rem;
    text-align: center;
}

.resume-icon {
    font-size: 5rem;
}



/* ======================================
This is a free-lancing section
=========================================*/
.section-freelancing {
    background-image: url(/images/parallax.jpg);
    background-color: var(--blue);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    transition: all 1s linear;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

.free-btn {
    position: relative;
    top: 5rem;
}

.section-freelancing h2 {
    font-size: 8rem;
    color: var(--white);
    word-spacing: 1rem;
}

.section-freelancing span {
    color: var(--yellow);
}

.section-freelancing p {
    font-size: 3rem;
    font-weight: 800;
    color: var(--white);
}

.section-freelancing .container {
    position: relative;
}


/* ======================================
This is a happy-client section
=========================================*/
.container-happy {
    margin: 0rem 30rem;
}

.container-happy img {
    margin-bottom: 7rem;
    box-shadow: var(--shadow);
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* ======================================
This is a footer section
=========================================*/


.footer-mini-section {
    display: grid;
    position: relative;
    bottom: 20rem;
    padding: 10rem 2rem;
    justify-content: center;
    align-items: center;
    max-width: 50rem;
}

.footer-mini-section h2 {
    color: var(--blue);
}

.footer-mini-section p {
    font-size: 3rem;
    font-weight: 800;
    color: var(--dark-black);
}

.footer-icons {
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 14rem;
    font-size: 3rem;
    font-weight: 800;
}

.footer-address {
    position: relative;
    max-width: 50rem;
    bottom: 17rem;
}

.footer-address h2 {
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: 800;
    font-style: normal;
    color: var(--blue);
}

.first-icons {
    position: relative;
    top: 4.9rem;
    right: 6rem;
    font-size: 5rem;
    font-weight: 800;
}

.footer-icons span {
    position: relative;
    top: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
}

.footer-icons ion-icon {
    position: relative;
    top: 15rem;
    left: 3rem;
    font-size: 5rem;
    font-weight: 800;
}

a [type] {
    left: -7rem;
}

.footer-mail {
    position: relative;
    left: 20rem;
}

.footer-bottom-icons {
    position: relative;
    display: flex;
    gap: 8rem;
    justify-content: center;
    align-items: center;
    bottom: 1rem;
    font-size: 10rem;
    font-weight: 800;
}

.footer-bottom-icons ion-icon {
    animation: water-wave 3s linear infinite;
    border: 0.5rem solid;
}

.footer-bottom-icons+h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    word-spacing: 1rem;
    top: 13rem;
    font-size: 7rem;
    font-weight: 800;
}


/* ======================================
This is a scroll-up section
=========================================*/

.scroll-btn {
    display: inline-block;
    position: fixed;
    right: 2rem;
    bottom: 10rem;
    z-index: 1;
}

.scroll-icon {
    font-size: 6rem;
    padding: 1.4rem 1.4rem;
    border-radius: 50%;
    color: var(--dark-black);
    background-color: var(--yellow);
}