@media screen and (max-width: 1215px) {
    .search {
        display: none;
    }
}

@media screen and (max-width: 880px) {
    header {
        height: 120px;
    }

    .logo {
        top: 30px;
        right: 195px;
    }

    .hlogo img {
        position: relative;
        bottom: 10px;
        left: 120px;
        height: 66%;
        
    }
}


/* navbar section->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/



/* card part section->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

@media screen and (max-width: 1000px) {
    .container {
        top: 150px;
    }
}

@media screen and (max-width:584px) {
    .container {
        left: 0px;
    }
}






@media screen and (max-width: 1000px) {
    .card_container {
        top: 50px;
    }
}

@media screen and (max-width:584px) {
    .card_container {
        left: 0px;
    }
}
























@media screen and (max-width: 1000px) {
    .porfile_card {
        display: none;
    }
}